
h1 {
    color: orange;
    font-family: Times,"Times New Roman" serif;
    font-size: 40px;
    font-weight: 700;
    padding: 10px;
    text-align: left;
    

}

p { 
    background-color: lightyellow;
    color:brown;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.box-1 {
    height: 300px;
    width: 600px;
    padding: 20px;
    border: 50px solid purple;
    background-color: green;
    box-sizing: border-box;
}

.box-2 {
    height: 300px;
    width: 600px;
    padding: 20px;
    border: 50px solid purple;
    background-color: orange;
    box-sizing: content-box;
}










/* not being used currently */
/* chain selectors */
.red.blue {   
    color: green;
}
/* grouping sele */
.red,.blue {
    color: rgb(255, 0, 111);
}
#unique1 {
    color: brown;
}
.class1 {
    background-color: yellow;
    font-size: 50px;
}
/* descendant combinator */
ul li {
    color: burlywood;
}
